---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '../images/Anaheim.webp'
---

<Layout title="Welcome to Astro." desc="404">
	<h1 class="font-neutralFace text-8xl text-right">Balls</h1>
</Layout>

